{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  {{> admin/admin-topNav}}
  <div class="content-wrapper">
    {{> admin/messages}}
    {{{body}}}
  </div>
  {{> admin/admin-footer }}
</body>

</html>