{{> default/header }}

<body>
    <!-- Navigation -->
   {{> default/top-navigation }}

    <!-- Page Content -->
            {{> default/messages2}}
    <div class="container">

        {{{ body }}}
    </div>
    <!-- /.container -->

{{> default/footer}}